################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Git/FileContentIndex/b97d8070-a18d-4508-8063-491823750e6e.vsidx
/.vs/Git/FileContentIndex/7c0ea7c6-22ab-4ab7-9e2e-54a59e4e9905.vsidx
/.vs/Git/FileContentIndex
